<div class="container board">
    <div class="row justify-content-center">
        <div routerLink="/categories/recipes" class="category">
            <img src="/assets/images/recipes.jpg" class="category-image" alt="recipes">
            <div class="overlay">
                <span class="overlay-text">Recipes</span>
            </div>
        </div>
        <div routerLink="/categories/ingredients" class="category">
            <img src="/assets/images/ingredients.jpg" class="category-image" alt="ingredients">
            <div class="overlay">
                <span class="overlay-text">Ingredients</span>
            </div>
        </div>
    </div>
</div>